# OS files
.DS_Store
*/DS_Store
**/*.DS_Store
.pnpm-store/*
.npm/_logs

# Generated code
tmp/
e2e/**/dist
*/dist/*
**/dist
dist/*
packages/*/dist/
docs/
coverage/
packages/**/coverage/
node_modules/
tests/**/app/index.js*
tests/**/ie11/ie-bundle.js*
# Out-TSC directories (TypeScript output)
**/out-tsc/*
out-tsc/
**/out-tsc
**/*.out-tsc
.swc
.vite

# IDEs
.vscode

# Test code
tests/**/app/index.js*
test-results

# Environment files
.env
.env.local
nx-cloud.env

**/playwright-report
**/playwright/.cache
**/.playwright/*

.nx/*
!.nx/workflows
**/vite.config.ts.timestamp-*

vite.config.*.timestamp*

# File made by changesets
.netrc

# ignore this in CI please.
# Nx stuff we get in CI that we dont want to commit
code
terminalOutput
outputs/*

e2e/mock-api-v2/html/*
e2e/**/.playwright/*


# bundle analysis
packages/*/bundle-analysis.html

.nx/cache
.nx/workspace-data
vitest.config.*.timestamp*


# temporary
packages/davinci-client/src/lib/mock-data/*.d.ts
packages/davinci-client/src/lib/mock-data/*.d.ts.map
**/**/tsconfig.tsbuildinfo
**/**/tsconfig.spec.vitest-temp.json

test-output
.cursor/rules/nx-rules.mdc
.github/instructions/nx.instructions.md
